html {
  scroll-behavior: smooth;
}

body {
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) -52%, rgba(203,228,217,1) 0%, rgba(255,255,255,1) 47%);
  background-attachment: fixed;
}

.createPost {
    position: fixed;
    bottom: 30px;
    right: 1px;
    width: 150px;
    height: 100px;
    padding: 20px;
    z-index: 1000;
}

#postForm {
    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    height: 65vh;
    width: 80vw;
    max-width: 700px;
    padding: 10px;
    overflow-y: auto;
    z-index: 1050;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-radius: 10px;
}

#postForm.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 10000000000;
}

#postForm.hide {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

#postImage img {
    position: relative;
    width: 100%;
    height: auto;
    outline: 2px solid rgb(0, 0, 0);
    overflow: hidden;
}

#postImage button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#closeButton {
    float: right;
    cursor: pointer;
}

#map{
    width: 100%;
}

button {
  border: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.material-icons {
  font-size: 20px;
  margin-right: 5px;
}

.likeButton {
  color: #198754;
  border: 1px solid #198754;
  background: transparent;
}

.dislikeButton{
  color: #198754;
  border: 1px solid #198754;
  background: transparent;
}

.likeButton:hover {
  background: #198754;
  color: white;
}

.dislikeButton:hover {
  background: #198754;
  color: white;
}

.btn.reactionButton.active {
    background-color: #198754; 
    color: white; 
  }


#filterButtons {
  position: relative; 
  display: inline-block; 
  width: 100%; 
  text-align: center; 
}

.slider {
  border-radius: 5px;
  margin-top: 5px;
  position: absolute;
  height: 5px;
  background-color: #1a843e;
  transition: all 0.3s ease;
  z-index: 10;
}

.container {
  margin-bottom: 70px; 
}
